<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <title>{% block title %}Yevhen Martynenko{% endblock %}</title>
  <link rel="icon" href="favicon.ico">
  {% include "../partials/head.html" %}
  {% block page_styles %}{% endblock page_styles %}
</head>

<body>

{% include "../partials/header.html" %}
{% include "../partials/messages.html" %}
<main>
{% block content %}{% endblock %}
</main>

{% include "../partials/footer.html" %}

<script src="main.js"></script>
<script src="runtime.js"></script>
{% block page_scripts %}{% endblock page_scripts %}

</body>

</html>
